name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Setup env
        env:
          ENV_SH_CONTENT: ${{ secrets.ENV_SH }}
        run: |
          echo "$ENV_SH_CONTENT" > env.sh
          chmod +x env.sh
          ./env.sh
        shell: bash
      # Run tests and collect coverage
      - run: deno test --allow-net --allow-read --allow-env --coverage=cov/

      # Generate lcov report
      - run: deno coverage --lcov cov/ > cov.lcov
